[Unit]
Description=Service Gunicorn pour Pissy Vibes
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/pissy_vibes
ExecStart=/var/www/pissy_vibes/venv/bin/gunicorn \
          --access-logfile /var/log/gunicorn/pissy_access.log \
          --error-logfile /var/log/gunicorn/pissy_error.log \
          --workers 3 \
          --timeout 120 \
          --bind unix:/run/pissyvibes.sock \
          config.wsgi:application
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
